*{
    padding: 0px;
}
div#contact{
    margin: 0px;
    padding-top: 0px;
    width: 997px;
    height: 40px;
}

div#social{
    margin: 20px;
    padding-top: 7px;
    margin-top: 0px;
    width: 700;
    height: 20;

}

div#header{
    margin-top:0px;
    width: 997px;
    height: 200px;
    background-image: url("Imagenes/Header.jpg");
   
}

body {
    background-image: url("Imagenes/Background1.jpg");
    background-position:center top;
    background-repeat:no-repeat;
    margin:0px;
    padding:0px;
    background-color:#000000;
    font-family:sans-serif;
    font-size:13px;
    background-attachment:fixed;
}


div#main{
    margin-top:0px;
    width: 997px;
    height: 50px;
    background-image: url("Imagenes/Menu.jpg");
}

div#content{
    margin-top:0px;
    width: 997px;
    height: 1500px;
    background-color: "#fff";
}

div#cont{
    width: 997px;
    height: 1500px;
    background-color: #E4E4E4;
}

.menu ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    }
    
.menu a {
        display: block;
        padding: 18px;
        font-family: pixel;
        background-color: #03061179;
        text-decoration: none;
        color: #e6e6e6;
    }

.menu a:hover {
        background-color: #061b6891;
    }

.menu ul li ul {
        display: none;
    }

.menu ul li a:hover + ul,
.menu ul li ul:hover {
        display: block;
    }


@font-face {
    font-family: gta;
    src: url("Fuentes/pricedown.TTF");
}

@font-face {
    font-family: pixel;
    src: url("Fuentes/pixelmix.ttf")
}

@font-face {
    font-family: logos;
    src: url("Fuentes/icons.woff")
}

@font-face {
    font-family: outof;
    src: url("Fuentes/OutOfMyLeague.ttf")
}

@font-face {
    font-family: simp;
    src: url("Fuentes/Simpson.otf")
}

.lofi{
    padding-left: 2em;
}